@import 'Fonts.css';

html {
  width: 100%;
  height: 100%;
  color: #444;
}

body {
  overflow: hidden;
  background: #fff;
  width: 100%;
  height: 100%;
  font-family: "Avenir",sans-serif;
  font-style: normal;
  font-weight: 400;
  max-height: 100vh;
  line-height: 1.5;
}

body.scroll {
  min-height: 100vh;
  max-height: auto;
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background: #222;
  color: white;
}

body.scroll #root, body.scroll .App {
  overflow: auto;
}

#root, .App {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrapper {
    /* position: relative;
    width: 100%; */
    /* height: 100%; */
    /* overflow: hidden; */
}

/*Splash Screen*/

.splash-screen {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.splash-screen.--is-hidden {
  display: none;
}

/*Projects*/

.projects-container {
    top: 70px;
    left: 70px;
    width: calc(100% - 140px);
    height: calc(100% - 140px);
    position: absolute;
    overflow: hidden;
/*    width: 85%;
    max-width: 600px;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);*/
}

@media only screen and (max-width: 700px) {
  .projects-container {
    left: 10px;
    width: calc(100% - 20px);
  }
}

.project.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
  opacity: 0;
  transform: scale(1.08);
  transition: opacity 300ms ease, transform 1300ms cubic-bezier(0.01, 1, 0.26, 0.93);
}

.project.project-image.--is-active{
  opacity: 1;
  z-index: 2;
  transform: scale(1);
}

.about-text {
  position: absolute;
  transform: rotate(90deg);
  right: 0;
  top: 50%;
  cursor: pointer;
}

.about-text p {
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: 2px;
  color: #585858;
}

.header {
  position: absolute;
  top: 41px;
  left: 70px;
  width: calc(100% - 140px);
  display: flex;
  justify-content: space-between;
}

.header p {
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: 2px;
  color: #585858;
  font-family: 'Avenir', sans-serif;
  font-weight: 300;
}

/* Project Controls */

.project-controls-wrapper {
  z-index: 3;
}

.project-controls {
  width: 50px;
  height: 50px;
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.project-controls.next {
  top: 20px;
  left: 0;
  z-index: 3;
  cursor: pointer;
}

.project-controls.previous {
  bottom: 20px;
  right: 0;
  z-index: 3;
  cursor: pointer;
}

/* Project Header */

.project.header-wrapper {
  overflow: hidden;
  position: relative;
  z-index: 4;
}

.project.header-wrapper h2 {
  font-size: 7em;
  color: #fff;
  margin: 0;
  opacity: 0;
  font-family: "minion-pro-display",serif;
  font-style: normal;
  font-weight: 400;
}

.header-overlay{
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
}

/* About */

.about-wrapper {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.about-wrapper.about-wrapper-active {
  display: block;
}

.about-close {
  top: 2rem;
  right: 2rem;
  font-size: 1.3em;
  font-weight: 700;
  position: absolute;
  cursor: pointer;
}

.about-content {
  width: 400px;
  transform: translateX(400px);
  background: rgb(204, 204, 204);
  padding: 3rem;
  top: 0;
  right: 0;
  position: fixed;
  height: 100%;
}

.project-details-wrapper {
  /* max-width: 600px; */
  position: absolute;
  bottom: 0;
  left: 0;
  height: 250px;
  width: 70%;
  padding-left: 80px;
  z-index: 4;
  margin-top: -15px;
}

@media only screen and (max-width: 600px) {
  .project-details-wrapper {
    padding: 0;
    width: 100%;
  }
  .project-description-wrapper p {
    font-size: 12px;
  }
}

.project-description-wrapper {
    overflow: hidden;
    position: relative;
    z-index: 4;
    max-width: 700px;
}

.project-description-wrapper p {
  color: rgba(255, 255, 255, 0.80);
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 1.3;
  font-weight: 300;
  margin: 0 0 0 30px;
}

.project-tech-wrapper {
    overflow: hidden;
    top: 0;
    position: absolute;
    z-index: 4;
    max-width: 600px;
}

.project-tech-wrapper p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-left: 5px;
}

@media only screen and (max-width: 700px) {
  .project.header-wrapper h2 {
    font-size: 2em;
  }
  .project-tech-wrapper {
    top: -20px;
  }
}

.counter {
  position: absolute;
  bottom: 20px;
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;
}

.counter > div {
  display: inline-block;
}

.counter p {
  font-family: "minion-pro-display",serif;
  font-size: 2em;
  letter-spacing: 10px;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  display: inline-block;
}

.number-mask {
  overflow: hidden;
  height: 36px;
}

.numbers span {
  display: block;
  font-family: "minion-pro-display",serif;
  font-size: 2em;
  letter-spacing: 10px;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  line-height: 36px;
}

.closeProject {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #666;
  font-size: 20px;
  font-weight: 200;
  z-index: 5;
  height: 40px;
  width: 40px;
  border-radius: 30px;
  text-align: center;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeProject p {
  margin: 0;
}

.scroll-prompt {
  position: fixed;
  bottom: 50px;
  left: 50px;
  z-index: 5;

}

.scroll-prompt p {
  transform-origin: top left;
  transform: rotate(-90deg);
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  font-weight: 200;
}

.scroll-prompt .arrow {
  animation: 'bounce' 2s infinite;
}

@keyframes bounce {
  0% {transform: translateY(0px) rotate(-90deg)}
  50% {transform: translateY(10px) rotate(-90deg)}
  100% {transform: translateY(0px) rotate(-90deg)}
}

.project-header {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 5;
  overflow: hidden;
}

.project-header h1 {
  font-size: 6em;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin: 0;
}

@media only screen and (max-width: 700px) {
  .project-header h1 {
    font-size: 2em;
  }
}

.project-info-wrapper {
  margin: 100vh auto 0 auto;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.project-info-wrapper .category {
  font-size: 12px;
  color: #888888;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.project-title-wrapper {
  width: 50%;
}

.project-overview-wrapper {
  width: 50%;
}

.project-title-wrapper h2 {
  font-size: 3em;
  font-family: "minion-pro-display",serif;
  font-style: italic;
  font-weight: 400;
  color: #111111;
  margin: 5px 0;
}

.project-title-wrapper h3 {
    font-weight: 400;
    margin: 10px 0;
    font-size: 1.1em;
}

.project-overview-wrapper p {
  font-size: 1.2em;
  margin: 10px 0;
} 

.project-overview-wrapper a {
  position: relative;
  overflow: hidden;
  display: block;
  text-decoration: none;
  color: #111;
  font-size: 1.2em;
  /* text-transform: uppercase; */
  font-style: italic;
  letter-spacing: 1px;
  font-family: 'minion-pro-display', sans-serif;
  font-weight: 400;
  margin: 5px 0 5px 5px;
}

@media only screen and (max-width: 700px) {
  .project-title-wrapper, .project-overview-wrapper {
    width: 100%;
  }
}

.project-story-wrapper {
  max-width: 960px;
  position: relative;
  margin: 0 auto;
}

.project-story-wrapper video {

}

/* 
.project-overview-wrapper a:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #111;
  bottom: 0;
  left: 0;
  transition: transform 1000ms cubic-bezier(.19,1,.22,1) 0ms,-webkit-transform 1000ms cubic-bezier(.19,1,.22,1) 0ms;
}

.project-overview-wrapper a:hover:before {
  transform: translateX(100%);
} */